.card{
  border:1px solid rgba($color: #979797, $alpha: 0.8);
  border-radius: 6px;
  display: flex;
  overflow: hidden;
  background: #fff;
  opacity: 1;
  transition: all ease 300ms;
  .card-body{
    padding:1rem;
    width: 100%;
    time{
      font-size: 0.7rem;
      margin-bottom: 0.8rem;
      display: flex;
      align-items: center;
      color: #767676;
      .ico{
        display: flex;
        margin-right: 0.4rem;
      }
    }
    h2{
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
  .card-action{
    width: 60px;
    display: flex;
    background: rgba($color: #606060, $alpha: 0.06);
    button{
      width: 60px;
    }
  }
}

@media (min-width: 980px) {
  .card{
    min-height: 97px;
    &:hover{
      opacity: .4;
      transition: all ease 300ms;
    }
  }
}