.header{
  padding:1rem;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  text-align: center;
  h1{
    color:#3b3b3b;
    font-size: 1.5rem;
    font-family: 'Libre Baskerville', serif;
  }
}